<div class="col s8">
    <div class="input-field">
        <div class="prefixed-label">
            <button class="btn-floating red lighten-1 waves-effect waves-light del-btn"><i
                    class="material-icons">remove</i></button>
        </div>
        <input aria-label="name" type="text" maxlength="90" class="name" placeholder="New..." value="">
    </div>
</div>
<div class="col s4">
    <div class="input-field">
        <label for="quantity" class="prefixed-label">#</label>
        <input type="number" class="quantity" placeholder="?" value="1">
    </div>
</div>