<div class="col s8">
    <div class="input-field">
        <label class="prefixed-label name-label">Name</label>
        <button class="btn red lighten-1 del-btn" style="display: none;">Delete</button>
        <input type="text" maxlength="180" class="preloaded name" placeholder="{{name}}" value="{{name}}">
    </div>
</div>
<div class="col s4">
    <div class="input-field">
        <label for="quantity" class="prefixed-label">#</label>
        <input type="number" class="preloaded quantity" placeholder="?" value="{{quantity}}">
    </div>
</div>