<div class="col s8">
    <div class="input-field">
        <button class="btn red lighten-1 del-btn" style="display: none;">Delete</button>
        <input aria-label="name" type="text" maxlength="90" class="name" placeholder="New..." value="">
    </div>
</div>
<div class="col s4">
    <div class="input-field">
        <label for="quantity" class="prefixed-label">#</label>
        <input type="number" class="quantity" placeholder="?" value="1">
    </div>
</div>