<ul id="dropdown1" class="dropdown-content">
    <li class="nav-item">
        {{#if userStatus.loggedIn}}
        <a class="nav-link" href="/logout">Logout</a>
        {{/if}}
        {{#if userStatus.loggedOut}}
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
    </li>
    {{#if userStatus.loggedIn}}
    <li class="nav-item">
        <a class="nav-link" href="/add-character">Add character</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/all-characters">See all characters</a>
    </li>
    {{/if}}
</ul>
<nav id="desktop-nav">
    <div class="nav-wrapper">
        <div class="brand-logo">
            <a href="/" style="display: inline-grid; align-content: center;">
                <img src="/assets/images/primary-logo-sm.png" alt="DnD Inventory Logo"
                    style="width: 2rem; border-radius: 50%; margin-right: 0.5rem">
            </a> D&D Inventory Bot for
            <a target="_blank" href="https://discord.com/app" style="margin-left: 0.5rem; color:#7289DA;">
                <i class="fab fa-discord" style="font-size: 2rem;"></i>
            </a>
        </div>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Settings<i
                        class="material-icons right">arrow_drop_down</i></a>
            </li>
            {{#if userStatus.loggedIn}}
            <li class="nav-item">
                <a class="nav-link" href="/inventory">Inventory</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/">Guide</a>
            </li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li class="nav-item">
        <a class="nav-link" href="/">Guide</a>
    </li>
    <li class="nav-item">
        {{#if userStatus.loggedIn}}
        <a class="nav-link" href="/logout">Logout</a>
        {{/if}}
        {{#if userStatus.loggedOut}}
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
    </li>
    {{#if userStatus.loggedIn}}
    <li class="nav-item">
        <a class="nav-link" href="/inventory">Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/add-character">Add character</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/all-characters">See all characters</a>
    </li>
    {{/if}}
</ul>
<nav id="mobile-nav">
    <div class="nav-wrapper">
        <div class="brand-logo left" style="height: 100%;">
            <a href="/inventory" style="display: inline-grid; align-content: center;">
                <img src="/assets/images/primary-logo-sm.png" alt="DnD Inventory Logo"
                    style="width: 2rem; border-radius: 50%; margin-right: 0.5rem">
            </a>
        </div>
        <ul class="right">
            <li>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </li>

        </ul>
    </div>
</nav>