node_modules
/test.js
/nodemon
/3monitors.code-workspace
/nodemon.json
/private.json
/index_old.js
/utils/logger.js
.vscode/launch.json
.eslintrc.json
/public/dist
.env
/server/build
/client/build
*.js
/build
.vscode
*.js