{{> navbar}}
<main class="container wrapper">
    <h1 class="title">Guide</h1>
    <article>
        <p>A simple Discord Bot that manages inventory for D&amp;D campaigns.</p>
        <p>Commands are <em>not</em> case sensitive, neither are inventory items. However, they will still appear
            capitalized when viewing them.
        </p>
        <p>Members with kick/ban permission can run commands on other users by <em>@mentions</em> immediately after the
            command.
            For example, <strong>/add @tomNook gold 1000</strong> will add 1000 gold to @tomNook. This works for every
            command.
        </p>
        <p>Invite to your server: <a
                href="https://discordapp.com/api/oauth2/authorize?client_id=692109220371365989&amp;permissions=134309888&amp;scope=bot">https://discordapp.com/api/oauth2/authorize?client_id=692109220371365989&amp;permissions=134309888&amp;scope=bot</a>.
        </p>
        <h2 id="-create">/create</h2>
        <p>This command creates your inventory and all fields will be empty or 0 by default.
            This bot uses nicknames as the player names, not the user&#39;s regular Discord username.</p>
        <h2 id="-create-prepack-gold-silver-dm-channel">/create prepack gold# silver# DM/channel</h2>
        <p>This will prepack inventory with
            <code>crowbar, hammer, pitons x10, torches x10, rations x10, feet of hempen rope x100.</code></p>
        <p><strong>/create prepack 100 10 DM</strong> will set <code>gold to 100</code>, <code>silver to 10</code>,
            <code>DMs on</code>. If DM is not specified, they will be off by default.</p>
        <h2 id="-inventory-inv">/inventory, /inv</h2>
        <p>Displays your own inventory. Adding a category
            plus a value (e.g. /inventory gold 100) will update your inventory.
            Mods/admins can use /inventory everyone to see all inventories. Currently, @everyone does not work.</p>
        <h2 id="-add-category-">/add <em>category</em></h2>
        <p>Adds new items to specified category. Supports lists of items, and quantity, but not both at the same time.
            e.g. <strong>/add gold 50</strong> adds 50 to gold, <strong>/add potions Health 2</strong> will add Health
            x2,
            and
            <strong>/add potions Health, Poison</strong> will add Health and Poison.
            /create
            This command creates your inventory and all fields will be empty or 0 by default.
            This bot uses nicknames as the player names, not the user&#39;s regular Discord username.</p>
        <h2 id="-remove-category-">/remove <em>category</em></h2>
        <p>Removes specified item or amount from the category.
            For example, <strong>/remove weapons Net</strong> will remove Net from weapons.</p>
        <h2 id="-dm">/dm</h2>
        <p><strong>/dm on</strong> will send all notifications from the bot to your DMs. <strong>/dm off</strong> will
            send
            them
            to the channel.
            Set individually per user. DMs are off by default.</p>
        <h2 id="-overwrite">/overwrite</h2>
        <p>This command overwrites EVERYTHING in the specified category. For example, <strong>/overwrite weapons
                sword</strong>
            will delete all your weapons and set the Sword as your only weapon. Use with care.</p>
        <h2 id="-deleteplayer">/deleteplayer</h2>
        <p>Deletes your entire inventory and changelog.
            Use with care.</p>
        <h2 id="money">Money</h2>
        <p>When dealing with money, there are 3 possible commands.
            <strong>/overwrite gold 50</strong> will overwrite any previous amount and hardcode your current gold to 50.
            <strong>/add gold 50</strong> will add to the current amount.
            <strong>/remove gold 50</strong> will subtract from the current amount.</p>
        <h2 id="support">Support</h2>
        <p>If you find a bug or have any suggestions for additional features, please submit a ticket at <a
                href="https://github.com/moojigc/DiscordBot/issues">https://github.com/moojigc/DiscordBot/issues</a>.
        </p>
        <h2 id="your-data">Your Data</h2>
        <p>This bot uses a secure MongoDB database to store your inventory information. Additionally, it stores your
            unique
            Discord user ID plus the server&#39;s ID (both are just random integers) in order to match each player with
            their
            inventory. It also stores all user IDs from a given server. You can have one inventory per Discord server.
        </p>
        <p>No sensitive data, like passwords, are stored. It does not store usernames (unless you do not have a nickname
            set
            up).
        </p>
    </article>
</main>