{{> navbar}}
<main class="container wrapper">
    <header>
        <h1>Register</h1>
    </header>
    <div class="row form-wrapper" style="display: flex; justify-content: center;">
        <form action="/api/register" method="POST" style="margin-right: auto; margin-left: auto;">
            <div class="row">
                <h5>Info from Discord Bot</h5>
            </div>
            <div class="input-field">
                <input type="text" class="validate characterName" name="characterName"
                    placeholder="Discord character name">
            </div>
            <div class="input-field">
                <input type="text" class="validate token" name="token" placeholder="Token">
            </div>
            <div class="row">
                <h5>Your Details</h5>
            </div>

            <div class="input-field">
                <input type="email" class="validate email" name="email" placeholder="Enter email">
            </div>
            <div class="input-field">
                <input type="text" class="validate username" name="username" placeholder="Enter username">
            </div>
            <div class="input-field">
                <input type="password" class="validate password" name="password" placeholder="Password">
            </div>
            <div class="input-field">
                <input type="password" class="validate password2" name="password2" placeholder="Confirm password">
            </div>
            {{#if errorMsg}}
            <div class="row alert alert-danger">{{errorMsg}}</div>
            {{/if}}
            <button type="submit"
                class="btn btn-large purple lighten-1 waves-effect waves-orange register-user">Submit<i
                    class="material-icons right">send</i></button>
        </form>
    </div>
    <a href="/login"><b>Have an account? Login here.</b></a>
</main>