{{> navbar}}

<main class="container wrapper">
    <section class="row">
        <div class="col">
            <h1><code>😢</code></h1>
            <h1><code>Error 500: Internal server error.</code></h1>
            <h5>Please contact developer if you continue to see this page.</h5>
        </div>
    </section>
</main>