$mobile: 900px;
$fancy-font: 'Oxygen', sans-serif;
$dark-transparent: #00000047;
$gold: #ffcb51;
$gray-dark: #00000047;
$purple-light: #d9b9f5;
$red-white: #f5e6e8;
$purple-white: #d5c6e0;
$purple-faded: #aaa1c8;
$secondary: #192a51;
$primary: #9b59b6;
$test: #00000047;
