footer {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	background: var(--secondary);
	font-family: var(--fancy-font);
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0.8rem 0.5rem;
	margin-top: 1rem;
	bottom: 0;
}
