@import '../../assets/scss/variables.scss';

.hero {
	background: var(--primary);
	opacity: 0.95;
	position: relative;
	z-index: 2;
	text-align: center;
	box-shadow: inset 0px 0px 17px 10px rgba(0, 0, 0, 0.316);
	padding: 0.5rem;
	h1 {
		font-family: var(--fancy-font);
		letter-spacing: 1rem;
		text-transform: lowercase;
	}
	p {
		font-size: 2rem;
		margin: 0;
	}
}

@media screen and (max-width: $mobile) {
	.hero {
		h1 {
			letter-spacing: unset;
			width: 95vw;
			font-size: 2rem !important;
		}
	}
}
